body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
}

.search {
  margin: 4em 0 0 0;
  width: 20em;
}

.dropdown {
  width: 20em;
}

.rectangle {
  border-radius: 0;
}

.cardParagraph {
  margin-bottom: 0;
  pointer-events: none;
  pointerevents: none;
}

.card-body {
  padding: 1rem;
}

.noCard {
  font-weight: bold;
  color: grey;
  padding: 2.5rem;
}

hr {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

ul {
  border-bottom: 1px solid #ccc;
  max-height: 350px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.form-control:foucs {
  box-shadow: none;
}
